.container{
    height: 800px;
    flex-wrap: wrap;
    display: flex;
    width: 50%;
    margin: auto;
    background: white;
    padding: 50px;
    margin-top: 45px;
    margin-bottom: 45px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 10px;
}

.left-card {
    margin-right: 50px;
}

h2 {
    color: #ff5fa2;
    text-align: center;
    padding-bottom: 5px;
}

input,
textarea {
    width: 350px;
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

.btn{
    background: #fab9d4;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px;
    margin-top: 25px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn:hover{
    background: #ff5fa2;
    transition: 0.3s;
    color: white;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}


